# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Paramètres de l'éditeur PyCharm
.idea/
# L'environnement virtuel
.venv/
# La cache Python
__pycache__
# Les fichier contenant les mots de passe
*.json
